In [107]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np

FileNotFoundError: [Errno 2] No such file or directory: '../input'

In [ ]:
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

In [ ]:
def format_data(data):
    data['Sex'] = np.where(data['Sex'] == 'male', 0, 1)
    age_ranges = [0,3,12,18,30,50,80]
    data['AgeRange'] = pd.cut(data['Age'], age_ranges)

In [ ]:
format_data(test_data)
format_data(train_data)

In [ ]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeRange
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,"(18, 30]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,"(30, 50]"
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(18, 30]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,"(30, 50]"
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,"(30, 50]"

In [ ]:
feature_cols = ['Pclass', 'Sex']
x = train_data[feature_cols]
y = train_data['Survived'].values

In [ ]:
model = LogisticRegression()
model.fit(x, y)

LogisticRegression()

In [ ]:
y_pred = model.predict(test_data[['Pclass', 'Sex']])

In [ ]:
submission = pd.DataFrame({
  "PassengerId": test_data["PassengerId"],
  "Survived": y_pred
})

submission.to_csv('submission.csv', index=False)